<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div id="loader" class="loader-overlay" style="display:none;">
    <div class="spinner"></div>
    <p class="loader-text">Cargando, por favor espera...</p>
</div>

<div class="header-uaeh">
    <h1>Universidad Autónoma del Estado de Hidalgo</h1>
    <h2>Dirección de Administración Escolar</h2>
    <h3>Área de Trámites y Certificados</h3>
</div>

<div class="login-container">
    <h2>Acceso al Portal</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Usuario</label>
        <input name="usuario" required>

        <label>NIP</label>
        <input name="nip" type="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>

<script>
    const form = document.querySelector("form");
    const loader = document.getElementById("loader");

    form.addEventListener("submit", () => {
        loader.style.display = "flex";
    });

    setTimeout(() => {
        if (document.readyState !== "complete") {
            loader.style.display = "flex";
        }
    }, 1000);
</script>

<div class="footer-firma">
    Manuel Zarazúa — abril 2026
</div>

</body>
</html>
