<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="login-container">
    <h2>Acceso al Portal</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Usuario</label>
        <input name="usuario" required>

        <label>NIP</label>
        <input name="nip" type="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>

</body>
</html>